/* 메인 */
#main {
  margin: auto;
  border-radius: 20px;
  background-color: rgb(236, 222, 163);
  text-align: center;
  width: 500px;
  height: 800px;
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  word-break: break-all;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  padding: 5px;
  text-align: right;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 10px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  padding: 5px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

/* 전송 버튼 */
#sendbtn {
  border: 1px solid rgb(224, 137, 20);
  background-color: rgb(224, 137, 20);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}
#sendbtn:hover {
  background-color: rgb(221, 181, 13);
  cursor: pointer;
}
